body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.header-center{
    text-align:center;
}

.main-enter-block {
    display: table-caption;
    text-align: center;
}
.row.main-page {
    height: 80vh;
}

p{
    margin:0;
}

.main-enter-block p {
    margin: 10px 0;
}

.inline-p{
    display:inline-block;
}

.inline-input, .text-box {
    display: block;
}

.table-order td {
    padding: 0px 10px;
    text-align: center;
    border: 1px solid #d5d5d5;
}

.table-order {
    width: 100%;
    margin: 10px 0 10px 0;
}

.table-order-header {
    color: white;
    font-size: 20px;
    padding: 10px 10px;
    background: #df761c;
    border: 1px solid #d9d9d9;
}
div.pagination, ul.pagination{
    margin:0;
}

div.pagination {
    width: 100%;
    border: 1px solid #d9d9d9;
}

div.actual-orders, div.old-orders {
    margin: 0 0 6px 0;
}

ul.pagination li {
    padding: 0 10px;
    border-right: 1px solid #d9d9d9;
}

ul.pagination li input{
    border: 0;
    color:#9d9d9d;
}

ul.pagination li input:hover{
    color: black;
}

h1.main-header {
    margin: 15px 0;
}
div.instrumental {
    width: 100%;
    border: 1px solid #d9d9d9;
}
div.instrumental ul {
    display: inline-block;
    padding: 0px;
    margin: 0;
}

div.instrumental ul li {
    list-style-type: none;
    padding: 0px 5px;
    border-right: 1px solid #d9d9d9;
    display: inline-block;
}

input.no-border {
    border: 0;
}

.loader {
    top: 0;
    left: 0;
    position: fixed;
    opacity: 0.8;
    z-index: 10000000;
    background: Black;
    height: 100%;
    width: 100%;
    margin: auto;
}

.strip-holder {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
    margin-left: -50px;
    position: relative;
}

.strip-1,
.strip-2,
.strip-3 {
    width: 20px;
    height: 20px;
    background: #e16b07;
    position: relative;
    -webkit-animation: stripMove 2s ease infinite alternate;
    animation: stripMove 2s ease infinite alternate;
    -moz-animation: stripMove 2s ease infinite alternate;
}

.strip-2 {
    -webkit-animation-duration: 2.1s;
    animation-duration: 2.1s;
    background-color: #e78c3f;
}

.strip-3 {
    -webkit-animation-duration: 2.2s;
    animation-duration: 2.2s;
    background-color: #e7a268;
}

input {
    background-color:white;
}

@-webkit-keyframes stripMove {
    0% {
        transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -moz-transform: translate3d(0px, 0px, 0px);
    }

    50% {
        transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -moz-transform: translate3d(0px, 0px, 0px);
        transform: scale(4, 1);
        -webkit-transform: scale(4, 1);
        -moz-transform: scale(4, 1);
    }

    100% {
        transform: translate3d(-50px, 0px, 0px);
        -webkit-transform: translate3d(-50px, 0px, 0px);
        -moz-transform: translate3d(-50px, 0px, 0px);
    }
}

@-moz-keyframes stripMove {
    0% {
        transform: translate3d(-50px, 0px, 0px);
        -webkit-transform: translate3d(-50px, 0px, 0px);
        -moz-transform: translate3d(-50px, 0px, 0px);
    }

    50% {
        transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -moz-transform: translate3d(0px, 0px, 0px);
        transform: scale(4, 1);
        -webkit-transform: scale(4, 1);
        -moz-transform: scale(4, 1);
    }

    100% {
        transform: translate3d(50px, 0px, 0px);
        -webkit-transform: translate3d(50px, 0px, 0px);
        -moz-transform: translate3d(50px, 0px, 0px);
    }
}

@keyframes stripMove {
    0% {
        transform: translate3d(-50px, 0px, 0px);
        -webkit-transform: translate3d(-50px, 0px, 0px);
        -moz-transform: translate3d(-50px, 0px, 0px);
    }

    50% {
        transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -moz-transform: translate3d(0px, 0px, 0px);
        transform: scale(4, 1);
        -webkit-transform: scale(4, 1);
        -moz-transform: scale(4, 1);
    }

    100% {
        transform: translate3d(50px, 0px, 0px);
        -webkit-transform: translate3d(50px, 0px, 0px);
        -moz-transform: translate3d(50px, 0px, 0px);
    }
}

.pagination-count {
    padding: 5px 0;
}

.pagination-count input {
    width: 25px;
    height: 20px;
}