<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>

  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="WcfSimpleService.Echo">
        <endpoint address="Soap" binding="basicHttpBinding" name="soap"
          contract="WcfSimpleService.IEcho" />
        <endpoint address="Rest" behaviorConfiguration="web" binding="webHttpBinding"
          name="rest" contract="WcfSimpleService.IEcho" />       
        <endpoint address="Mex" behaviorConfiguration="" binding="mexHttpBinding"
          name="mex" contract="IMetadataExchange" />
      </service>
     
        <service name="WcfSimpleService.FlightsService" behaviorConfiguration="Flights">
          <endpoint address="SoapFlights" binding="basicHttpBinding" name="soapFlights"
            contract="WcfSimpleService.IFlightsService" />
          <endpoint address="RestFlights"   behaviorConfiguration="webBehavior"  binding="webHttpBinding"
            name="restFlights" contract="WcfSimpleService.IFlightsService" />
          <endpoint address="MexFlights" behaviorConfiguration="" binding="mexHttpBinding"
            name="mexFlights" contract="IMetadataExchange" />          
        </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>

          <behavior name="Flights">
            <serviceMetadata httpGetEnabled="true" />
            <serviceDebug includeExceptionDetailInFaults="false" />
          </behavior>
        
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp automaticFormatSelectionEnabled="true"
                   faultExceptionEnabled="true"
                   helpEnabled="true"/>
        </behavior>
        
          <behavior name="webBehavior">
            <webHttp helpEnabled="true" />
          </behavior>
        
      </endpointBehaviors>
    </behaviors>
    
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    
  </system.webServer>

</configuration>
